:root { 
  --black: #000000;
  --black-coral-pearl: #59656f;
  --licorice: #141414;
  --white: #ffffff;
 
  --font-size-l2: 20px;
  --font-size-l3: 24px;
  --font-size-xl2: 36px;
  --font-size-xxl: 40px;
  --font-size-xxxl: 50px;
 
  --font-family-archivo: "Archivo", Helvetica;
  --font-family-arial-bold: "Arial-Bold", Helvetica;
  --font-family-arial-regular: "Arial-Regular", Helvetica;
  --font-family-helvetica-bold: "Helvetica-Bold", Helvetica;
}
.arial-bold-white-40px {
  color: var(--white);
  font-family: var(--font-family-arial-bold);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 700;
}

.arial-regular-normal-white-20px {
  color: var(--white);
  font-family: var(--font-family-arial-regular);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
}

.helvetica-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-l3);
  font-style: normal;
  font-weight: 700;
}

.archivo-normal-white-36px {
  color: var(--white);
  font-family: var(--font-family-archivo);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 400;
}

.helvetica-bold-licorice-20px {
  color: var(--licorice);
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}

.helvetica-bold-white-20px {
  color: var(--white);
  font-family: var(--font-family-helvetica-bold);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 700;
}
